<%= form_tag sessions_create_path do %>
  <div class="content-body">
	 	<section class="flexbox-container">
	    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
	      <div class="card border-grey border-lighten-3 m-0">
	        <div class="card-header no-border">
	          <div class="card-title text-xs-center">
	            <div class="p-1">
	              <%=image_tag "/assets/wheelspin-logo.jpg", alt: "wheelspin"%>
	            </div>
	          </div>
	          <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Login</span></h6>
	        </div>
	        <div class="card-body collapse in">
	          <div class="card-block">
	            <form class="form-horizontal form-simple" action="index.html" novalidate>
	              <fieldset class="form-group position-relative has-icon-left mb-0">
	                <%= text_field_tag "email","", required: true,class: "form-control form-control-lg input-lg", id: "user-name", placeholder: "Your Email_id" %>
	                <div class="form-control-position">
	                  <i class="fa fa-envelope" aria-hidden="true"></i>
	                </div>
	              </fieldset>
	              <fieldset class="form-group position-relative has-icon-left">
	                <%= password_field_tag "password","", required: true,class: "form-control form-control-lg input-lg", id:"user-password", placeholder: "Enter Password"  %>
	                <div class="form-control-position">
	                 	<i class="fa fa-key" aria-hidden="true"></i>
	                </div>
	              </fieldset>
	              <fieldset class="form-group row">
	                <div class="col-md-6 col-xs-12 text-xs-center text-md-left">
	                </div>
	                <%= link_to  "Forgot Password" , forgot_password_path(session),class: "col-md-6 col-xs-12 text-xs-center text-md-right card-link"%>
	              </fieldset>
 								<%= submit_tag "Login",class: "btn btn-primary btn-lg btn-block" %>	
	            </form>
	          </div>
	        </div>
	        <div class="card-footer">
	          <div class="">
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
  </div>
<% end %>