<%= form_for @user, controller: :users, action: :update, method: :put  do |form| %>
  <%= hidden_field :id, value: @user.id %>
	<div class="content-body">
	  <section class="flexbox-container">
	   	<div class="col-md-6 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
	      <div class="card border-grey border-lighten-3 m-0">
	        <div class="card-header no-border">
	          <div class="card-title text-xs-center">
	            <div class="p-1">
	             	<%=image_tag @tenant.logo, alt: "wheelspin"%>
	            </div>
	          </div>
	          <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Reset Password</span></h6>
	        </div>
	        <div class="card-body collapse in">
	         	<div class="card-block">
	            <form class="form-horizontal form-simple" action="index.html" novalidate>
	             	<fieldset class="form-group position-relative has-icon-left mb-0">
	                <%= form.password_field :password, required: true,class: "form-control form-control-lg input-lg", id: "user-name", placeholder: "Your New Password"%>
                  <div class="form-control-position">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </div>
                </fieldset>
	              <fieldset class="form-group position-relative has-icon-left">
	                <%= form.password_field :password_confirmation, required: true,class: "form-control form-control-lg input-lg", id:"user-password", placeholder: "Confirm Password"%>
	                <div class="form-control-position">
	                  <i class="fa fa-lock" aria-hidden="true"></i>
	                </div>
	              </fieldset>
	              <fieldset class="form-group row">
	                <div class="col-md-6 col-xs-12 text-xs-center text-md-left">
	                 </div>
	              </fieldset> 
 								<%= form.submit "Ok",class: "btn btn-primary btn-lg btn-block" %>	
	            </form>
	          </div>
	          <div class="card-footer">
	            <div class="">
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
  </div>
<% end %>