<%= form_tag("/purchase_logs",method: "post", :class =>"form-main") do |form| %>
  
 <div class="row">
                  <div class="col-md-2">
                  <label for="userinput1">Item</label>
                  </div>
                  <div class="col-md-2">
                  <label for="userinput1">Cost Per Unit</label>
                  </div>
                  <div class="col-md-2">
                  <label for="userinput1">Qty</label>
                  </div>
                  <div class="col-md-2">
                  <label for="userinput1">SGST</label>
                  </div>
                  <div class="col-md-2">
                  <label for="userinput1">CGST</label>
                  </div>
                  <div class="col-md-2">
                  <label for="userinput1">Total Cost</label>
                  </div>
 </div>
 <div class="input_fields_wrap">
    <button class="add_field_button">Add More Fields</button>
  </div>
<div class="row">
                  <div class="col-md-2">
                  <%= select_tag "inventory[][spare_id]" ,options_from_collection_for_select(Spare.all, "id", "item_name"), id: "item_name"+pp.to_s, include_blank: true, class: "form-control" %>
                  </div>
                  <div class="col-md-2">
                  <input type="text" id="cost_per_unit" class="form-control border-primary" placeholder="Name" name="inventory[][cost_per_unit]">
                  </div>
                  <div class="col-md-2">
                  <input type="text" id="userinput1" class="form-control border-primary" placeholder="Name" name="inventory[][quantity]">
                  </div>
                  <div class="col-md-2">
                  <input type="text" id="userinput1" class="form-control border-primary" placeholder="Name" name="inventory[][sgst]">
                  </div>
                  <div class="col-md-2">
                  <input type="text" id="userinput1" class="form-control border-primary" placeholder="Name" name="inventory[][cgst]">
                  </div>
                  <div class="col-md-2">
                  <input type="text" id="userinput1" class="form-control border-primary" placeholder="Name" name="inventory[][total_cost]">
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="purchased_by">Purchased By</label>
                   <%= select_tag "user_id" ,options_from_collection_for_select(User.all, "id", "first_name"), id: "purchased_by", class: "form-control", include_blank: true %>       
                </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
<!-- <a class="btn btn-primary add-more-btn">Add</a> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
$('#purchased_by').select2({
  allowClear: true,
  escapeMarkup: function (markup) { return markup; },
  placeholder: "Purchased_By",
  language: {
    noResults: function () {
      
    }
  }
});
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
   
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><%= text_field_tag "user[][name]"%><%= text_field_tag "user[][mail]"%><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });
   
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
//   $('.add-more-btn').click(function() {
//   var clone = $('.form-block').clone('.form-block');
//   $('.form-block').append(clone);
// });
</script>

