  <%= form_with(model: customer, local: true, class: "form") do |form| %>
<div class="form-body">
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="job_card_customer_name">Customer Name</label>
              <%= form.text_field :customername, id: :job_card_customer_name, required: :true,class:"form-control"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="job_card_gst_number">GST Number</label>
              <%= form.text_field :gst_number, id: :job_card_customer_name, required: :true,class:"form-control"%>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="job_card_customer_email_id">Email Id</label>
                <%= form.text_field :email_id, id: :job_card_customer_email_id, required: :true,class:"form-control"%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="job_card_customer_contact_number">Contact Number</label>
                <%= form.text_field :contact_number, id: :job_card_customer_contact_number, required: :true,class:"form-control"%>
              </div>
            </div>
          </div>
          <%= form.fields_for :address_attributes do|address|%>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer_address1">Address 1</label>
                <%= address.text_area(:address1, rows: 2, required: :true,class: 'form-control', id: :customer_address1) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer_address2">Address 2</label>
                <%= address.text_area(:address2, rows: 2,required: :true, class: 'form-control', id: :customer_address2) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer_city">City</label>
                <%= address.text_field :city, id: :customer_city,required: :true, class:"form-control"%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer_state">State</label>
                <%= address.text_field :state, id: :customer_state, required: :true,class:"form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer_country">Country</label>
                <%= address.text_field :country, id: :customer_country, required: :true,class:"form-control"%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer_pincode">Pincode</label>
                <%= address.text_field :pincode, id: :customer_pincode,required: :true,pattern: "\\d{6}", class:"form-control" %>
              </div>
            </div>
          </div>
          <% end %>
                <div class="form-actions" style="float: right;">
                <%= link_to customers_path, type: 'button', class: "btn btn-warning mr-1" do %>
                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                <% end %>
                <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <i class='fa fa-check' aria-hidden='true'></i> Save
                <% end %>
              </div>
      </div>
  </div>
<% end %>
