<div class="card-header">
<h3>Customers
<!--%= link_to 'New Customer', new_customer_path, class: "btn btn-success pull-right"%-->
<a href="<%= new_customer_path%>" class="btn btn-primary pull-right">New Customer</a>
</h3>
</div>
 <div class="card-block">

  <table id="customer_index" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Customername</th>
        <th>GST Number</th>
        <th>Email</th>
        <th>Contact number</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.customername %></td>
          <td><%= customer.gst_number %></td>
          <td><%= customer.email_id %></td>
          <td><%= customer.contact_number %></td>
          <td>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_customer_path(customer),class: "btn btn-warning btn-sm",data:{toggle: "tooltip"}, title: "Edit"  %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, customer, method: :delete, data: { confirm: 'Are you sure?',toggle: "tooltip"},class: "btn btn-danger btn-sm", title: "Delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- 
<script type="text/javascript">
      $(document).ready(function() {
      $('#customer').DataTable();
      } );

    </script>
 -->