<p id="notice"><%= notice %></p>

<h1>Particulars</h1>
<div class= "table-responsive">
<table id="particular_index" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Job card</th>
      <th>User</th>
      <th>Particular short note</th>
      <th>Description</th>
      <th>Completed status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @particulars.each do |particular| %>
      <tr>
        <td><%= particular.job_card %></td>
        <td><%= particular.user %></td>
        <td><%= particular.particular_short_note %></td>
        <td><%= particular.description %></td>
        <td><%= particular.completed_status %></td>
        <td><!--%= link_to '<i class="fa fa-eye"></i>'.html_safe, particular,class: "btn btn-primary btn-sm",data:{toggle: "tooltip"}, title: "View" %-->
       <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_particular_path(particular),class: "btn btn-warning btn-sm",data:{toggle: "tooltip"}, title: "Edit" %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, particular, method: :delete, data: { confirm: 'Are you sure?',toggle: "tooltip"},class: "btn btn-danger btn-sm", title: "Delete"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Particular', new_particular_path %>
<!-- <script type="text/javascript">
      $(document).ready(function() {
      $('#particular').DataTable();
      } );

    </script> -->