<p id="notice"><%= notice %></p>

<p>
  <strong>Tenant:</strong>
  <%= @particular.tenant %>
</p>

<p>
  <strong>Job card:</strong>
  <%= @particular.job_card %>
</p>

<p>
  <strong>User:</strong>
  <%= @particular.user %>
</p>

<p>
  <strong>Particular short note:</strong>
  <%= @particular.particular_short_note %>
</p>

<p>
  <strong>Description:</strong>
  <%= @particular.description %>
</p>

<p>
  <strong>Completed status:</strong>
  <%= @particular.completed_status %>
</p>

<%= link_to 'Edit', edit_particular_path(@particular) %> |
<%= link_to 'Back', particulars_path %>
